<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

   <!-- <form action="/team" method="POST">
     <p>Team Name: <input type="text" name="name"></input></p>
     <p>Coach: <input type="text" name="coach"></input></p>
     <p>Point Gaurd: <input type="text" name="pg"></input></p>
     <p>Shooting Gaurd: <input type="text" name="sg"></input></p>
     <p>Power Forward: <input type="text" name="pf"></input></p>
     <p>Small Forward: <input type="text" name="sf"></input></p>
     <p>Center: <input type="text" name="c"></input></p>

     <input type="submit" id="submit" />
   </form> -->

    <form method="POST" action="/team">
      <label>Team Name: <input type="text" name="name" /></label><br/>
      <label>Coach: <input type="text" name="coach" /></label><br/>
      <label>Point Guard: <input type="text" name="pg" /></label><br/>
      <label>Shooting Guard: <input type="text" name="sg" /></label><br/>
      <label>Power Forward: <input type="text" name="pf" /></label><br/>
      <label>Small Forward: <input type="text" name="sf" /></label><br/>
      <label>Center: <input type="text" name="c" /></label><br/><br/>
      
      <button type="submit" id="submit">Submit</button>
    </form>

 </body>
</html>
