<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <ul>
   <%@params.each do |key, value| %>
   <li><%= "#{key}: #{value}" %></li>
   <% end %>
 </ul>
 </body>
</html>
